@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Open+Sans:wght@500&display=swap');

.app-img{
    height: 150px;
    position: absolute;
    top: -30px;
    right: 0px;
}

.app-header{
    font-family: 'Inter', sans-serif;

}

.issue_id{
    font-weight: bold;
}

#summary, #description,#name{
width:60vw;
border: 1px solid black;
/* border: transparent; */
border-radius: 5px;
padding: 10px;
font-size: 15px;
}
#summary{
    height: 30px;
    margin-top: 20px;
}
#description{
    height: 100px;
    margin-top: 20px;
}
.align-flex-vertical{
    display: flex;
    flex-direction: column;

}
#submitButton{
    background-color: black;
    border: transparent;
    padding: 5px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    width: 120px;
    margin-top: 10px;
    cursor: pointer;
}#submitButton:hover{
    background-color: white;
    border:1px solid black;
    padding: 5px;
    color: black;
    font-weight: bold;
    font-size: 15px;
    width: 120px;
    margin-top: 10px;

}

.progress-4 {
    width:120px;
    height:20px;
    -webkit-mask:linear-gradient(90deg,#000 70%,#0000 0) 0/20%;
    background:
     linear-gradient(#000 0 0) 0/0% no-repeat
     #ddd;
    animation:p4 2s infinite steps(6);
    margin-top: 20px;
    visibility: hidden;
  }
  @keyframes p4 {
      100% {background-size:120%}
  }
  
  .visible{
    visibility:visible;
  }  

  .issues{
    visibility: hidden;
  }

  .description-issue{
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .summary-issue{
    margin-top: 20px;
  }
  .anchor-style{
    text-decoration: none;

  }

.comments-head{
    font-weight: bolder;
    margin-top: 25px;
}
  
.comments-issue{
    margin-bottom: 20px;
    cursor: pointer;
}

  .anchor-style{
    background-color: black;
    border: transparent;
    padding: 5px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}.anchor-style:hover{
    background-color: white;
    border:1px solid black;
    padding: 5px;
    color: black;
    font-size: 15px;
}  

#abstract-url-span{
    background-color: black;
    border: transparent;
    text-decoration: none;
    padding: 5px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}#abstract-url-span:hover{
    background-color: white;
    border:1px solid black;
    padding: 5px;
    color: black;
    font-size: 15px;
}


.issue-inner{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 30px;
    width: 40vw;
    margin-top: 30px;
}
.flex-wrap{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

}
.flex-right{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 30px;
    width: 40vw;
    margin-top: 30px;
}
.bing-head{
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bolder;
    margin-bottom: 20px;
}.relevant-results{
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: bolder;
    margin-bottom: 10px;
    margin-top: 20px;

}

